#CLion project files
.idea
#config file required for SDK integration tests.  Each user will configure this differently, so it is preferable that git not show this file as
#'untracked' when printing the status. 
Integration/AuthDelegate.config
#macOS specific files
.DS_Store
